* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.bodycon {
  width: 501px;
  height: 588px;
  box-shadow: 1px 1px 5px 1px;
}

/* GNB */
header {
  display: flex;
  align-items: center;
  width: 501px;
  height: 60px;
  border: 1px solid #000;
  background: #045d8b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header-hamburgerBtn,
.header-main,
.header-login {
  height: 60px;
  background: #045d8b;
  border: none;
}

.header-hamburgerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  border: none;
  padding-left: 17px;
  padding-right: 0;
}

.header-main {
  width: 161px;
  margin-left: 142px;
  margin-right: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-login {
  padding: 0;
  display: flex;
  width: 45px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

/* 인사 정보 페이지 */
#cards_container {
  width: 80%;
  margin: 10px auto;
  padding: 10px 10px;
}

.card {
  margin: 20px 10px;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card_plane {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: black;
  backface-visibility: hidden;
}

.card_plane--front {
  background: #f2f2f2;
}

.card_plane--back {
  transform: rotateY(180deg);
}

/* 인사 정보 등록 페이지 */
#form_container {
  align-items: center;
  text-align: center;
  margin: 30px 0px;
}

.form_elem {
  display: block;
  width: 250px;
  margin: 0.75em auto;
}

.form_elem input {
  width: 100%;
  padding: 1em;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  box-sizing: border-box;
  background: none;
}

.form_elem select {
  width: 100%;
  padding: 1em;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  box-sizing: border-box;
  background: none;
}

.form_elem button {
  width: 100%;
  padding: 1em;
  border: 0;
  border-radius: 1rem;
  box-sizing: border-box;
  background: #dedede;
}
