* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.bodycon {
  width: 501px;
  height: 588px;
  box-shadow: 1px 1px 5px 1px;
}
aside,
main,
footer {
  position: relative;
}

aside,
main,
footer {
  z-index: 0;
}
section {
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  width: 501px;
  height: 60px;
  border: 1px solid #000;
  background: #045d8b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header-hamburgerBtnBox {
  height: 24px;
  width: 24px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 17px;
  position: relative;
}
.header-hamburgerBtn {
  height: 24px;
  width: 24px;
  border: none;
  background: #045d8b;
  position: absolute;
  right: 5px;
}

.header-main {
  width: 161px;
  height: 48px;
  margin-left: 142px;
  margin-right: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-login {
  display: flex;
  width: 45px;
  height: 21px;
  justify-content: center;
}
.header-login a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hamburger-click {
  display: inline-block;
  height: 528px;
  width: 178px;
  background: #cfdaff;
  flex-shrink: 0;
}
.hamburger-click ul {
  margin: 0;
}
.hamburger-click li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 50px;
  width: 105px;
  border-bottom: 1px solid #045d8b;
}
.hamburger-click li a {
  text-decoration: none;
  color: black;
}
aside {
  display: flex;
  flex-direction: row;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
}
aside > div {
  display: flex;
  width: 86px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 41px;
  margin-bottom: 24px;
}
aside > div a {
  text-decoration: none;
  color: black;
}
.board-name {
  margin-left: 75px;
  margin-right: 180px;
}
.board-register {
  margin-right: 75px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > ul {
  border: 1px solid #045d8b;
  border-radius: 10px;
  width: 350px;
  padding-left: 0;
  margin: 0;
}
main > ul > li {
  width: 349px;
  height: 60px;
  border-bottom: 1px solid #045d8b;
  flex-shrink: 0;
  list-style-type: none;
}
main > ul > li:nth-of-type(6) {
  border: none;
}
main > ul > li a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
main > ul > li a div {
  margin-top: 27px;
  margin-bottom: 8px;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main > ul > li a div:first-of-type {
  margin-left: 15px;
  margin-right: 44px;
}
main > ul > li a div:nth-of-type(2) {
  width: 153px;
  height: 25px;
  flex-shrink: 0;
  margin-right: 52px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
footer {
  margin-top: 28px;
  justify-content: center;
  align-items: center;
}
footer ul {
  width: 360px;
  height: 20px;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
}
footer li {
  list-style-type: none;
}
footer li a {
  color: black;
  text-decoration: none;
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid #045d8b;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
